body{
  font-family: 'Roboto Mono', monospace;
}

.link-button{
  text-decoration: none;
  font-weight:400px;
  font-size:20px;
  background-image: linear-gradient(rgb(112, 82, 26),darkorange);
  padding:15px;
  border-radius:50px;
  background-color: rgb(90, 43, 10);
  color:rgb(226, 192, 192);
  margin-bottom: 100px;

}
h1{
  font-size:50px;
}
p{
  font-size:20px;
}
span{
  color: orangered;
}
.half-width{
  width:50%;
  padding-left: 30px;
  padding-top: 20px;
  margin-left:50px;
}
section{
  display:flex;
  margin-top: 100px;
}
.half-width img{
  width:80%;
}