body{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding:0;
}

.link-button{
  text-decoration: none;
  font-weight:400px;
  font-size:20px;
  background-image: linear-gradient(rgb(112, 82, 26),darkorange);
  padding:15px;
  border-radius:50px;
  background-color: rgb(90, 43, 10);
  color:rgb(226, 192, 192);
  

}
h1{
  font-size:50px;
}
p{
  font-size:20px;
  margin-bottom: 100px;
}
span{
  color: rgb(138, 46, 13);
}
.half-width{
  width:50%;
  padding-left: 30px;
  padding-top: 20px;
  margin-left:50px;
}
section{
  display:flex;
  margin-top: 100px;
}
.half-width img{
  width:80%;
}
.about-section{
  background-image:url(images/shapes/7.png);
  padding-right: 100px;
  background-size: cover;
}
.recipes{
  color:lightslategrey;
  text-align:center;
  padding-left: 300px;
  padding-right: 300px;
}
.shadow img{
  width:100%;
  padding-bottom: 20px;
}
.shadow{
  width: 33%;
  border: 1px solid;
  background-color: white;
  font-size: 20px;
  box-shadow: 5px 10px 20px 10px rgb(226, 224, 224);
  padding:40px;
  margin: 30px;
  border-radius:25px;
  background-image: linear-gradient(white,white);
}
.title{
  background-color:white;
  margin-left: 50px;
  margin-right: 50px;
  height:50%;
}
footer{
  background-color: rgb(32, 31, 31);
  text-align:center;
  padding:100px;
  color: white;
}
b{
  color: brown;
}
.header ul{
  list-style-type:none;
  margin: 15px;
  padding: 15px;
  overflow: hidden;
  background-color:rgb(86, 99, 102);
  float:left;
  border-radius: 10px;
}
.header li {

  float: left;
  font-size:25px;
}
li a{
  display: block;
  color: white;
  padding:20px 24px;
  margin:20px;
  margin-top: 0;
  text-decoration: none;
}
li a:hover{
  background-color:rgb(204, 202, 202);
  border-radius: 10px;
  
}
.header{
  text-align:center;
  margin-top:0px;
  background-color:azure;
}